@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.upload-button div {
  display: none;
}

.upload-button input {
  opacity: 0;
}

.upload-button label {
  opacity: 0;
}
